{% extends 'layout.html' %}

{% block title %}INDEX PAGE{% endblock %}

{% block body %}

<br>
<br>
<div class="col-3" style=" margin: auto; ">

<form action='{% url "login" %}' method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name='username'>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name='password' class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

{% endblock %}